/* RoomAvailabilityCalendar.css */
.room-availability-calendar {
    text-align: center;
    margin: 20px;
}
  
.calendar-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Squada One', sans-serif;
}

.calendar-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling */
}

.calendar-table {
    display: grid;
    grid-template-columns: repeat(15, 1fr); /* 1 column for room numbers + 14 for days */
    gap: 10px;
    margin-top: 20px;
    width: 100%; /* Ensure the table takes full width */
    min-width: 1000px; 
}

.room-header,
.date-header {
    font-weight: bold;
    padding: 10px;
    border: solid thin;
    border-color: whitesmoke;
    text-align: center; /* Center the text in the headers */
}

.room-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center; /* Center room number text */
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes up full cell height */
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .calendar-table {
        grid-template-columns: repeat(15, minmax(60px, 1fr)); /* Adjust column width for mobile */
        gap: 5px;
    }

    .room-header,
    .date-header {
        font-size: 14px;
    }

    .dot {
        width: 15px;
        height: 15px;
    }
    .DotColor{
  padding-left: 120px;

    }

    .DotCColor{
        padding-left: 100px;
          }
}
