.content-container {
  margin: 50px; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 3);
  /* background: linear-gradient(to bottom, #76b5f5 0%, rgb(219, 250, 252) 50%, whitesmoke 100%); */
  background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Squada One', sans-serif;
}

.comment {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  font-weight: bold;
  color: #76b5f5;
  /* font-family: 'Titan One', cursive; */
}

.room-booking-heading {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  font-weight: bold;
  color: black;
  /* background-color: #2b2928; */
  padding: 1rem;
  border-radius: 15px;
}

.room-heading {
  display: flex;
  justify-content: center;
}

.payment-methods-comment {
  text-align: center;
  font-size: 50px; /* Adjust font size as needed */
  margin-top: 20px; /* Add space above the comment */
  color: #76b5f5; /* Change color if necessary */
  
}



@media (max-width: 768px) {
  .content-container {
    margin: 24px; 
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7);
  }
}